.root {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #F0EEFF, #DDD0EF);
}

.menu:hover, .menu:showing {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #4895EF, #78B5FF);
    -fx-text-fill: white;
}

.menu-item .radio-button, .menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
    -fx-background-color: white;
}

.menu-item:focused .radio-button, .menu-item:focused .label {
    -fx-text-fill: black;
}

.ui-bar {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #DFDDE0, #D2D0D3);
}

.counter-container, .timer-container {
    -fx-background-color: #000000;
    -fx-border-color: #AAAAAA;
    -fx-border-style: solid;
    -fx-border-width: 2;
}

.counter, .timer {
    -fx-fill: #ffffff;
    -fx-font-family: monospace;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.ai-button {
    -fx-border-color: #AAAAAA;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}